hola - camas iniciadas
{% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <p class="flash-{{ tipo }}">{{ mensaje }}</p>
        {% endfor %}
{% endfor %}
<ul>
    {% set i=1 %}
    {% for cama in camas %}
        
            <li>{{ cama }} - {{ camas2[i] }}</li>
            {% set i = i + 1 %}
    {% endfor %}
</ul>