{#% extends 'HospitalizacionBundle::layout.html.twig' %#}

{% block principal %}

    {% for diagnostico in diagnosticos %}
        <ul>
            <li> {{ diagnostico.value }} </li>
        </ul>
    {% endfor %}
{% endblock %}