# ---- Todos estos tienen el  prefix:   /censo/proceso
censo_cama_cambio:
    path:     /cama/cambio/{cama_id}/
    defaults: { _controller: "HospitalizacionBundle:Censoproceso:camacambia" }

censo_paciente:
    path:     /paciente/registrar/{cama_id}/
    defaults: { _controller: "HospitalizacionBundle:Censoproceso:registrarPaciente" }
    
censo_paciente_confirma_traslado:
    path:     /paciente/registrar/confirma_traslado/{cama_id}/{paciente_id}/
    defaults: { _controller: "HospitalizacionBundle:Censoproceso:pacienteconfirmatraslado" }

censo_paciente_pendiente:
    path:     /cama/liberar/{cama_id}/
    defaults: { _controller: "HospitalizacionBundle:Censoproceso:liberarcama" }
    
# ------- AJAX - obtener datos array
lista_paciente_array:
    path:      /listaarray/paciente/
    defaults: { _controller: "HospitalizacionBundle:Censoproceso:listaPacienteArray" }
    methods:  [GET]